body{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightcyan;
    
}
nav{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width:  100%;
}
h1{
    padding: 20px;
    margin: 0 auto;
    text-align: left;

}
nav{
    background-color: rgb(5, 6, 7);
    margin: auto;
}
ol>li{
border: 1px solid black;
list-style: none;
display: inline-block;
padding: 15px;
margin-top: 20px;
margin: 20px;
background-color: white;
border-bottom: 7px solid rgb(0, 0, 0);
border-right: 5px solid black;
list-style: none;
}
li{
    text-decoration: none;
}
ol>li:hover{
    background-color: orange;
}
.formatocoches{
    display: inline-block;
    width: 30%;
}

main{
    width: 80%;
    margin: auto;
}
div{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    text-align: center;
    height:410px;
    border: 1px solid black;
    background-color: khaki;
    font-family: 'Times New Roman', Times, serif;
}
div:hover{
border: 1px solid black;
background-color: darkgray;
}
.tipo{
    height: auto;
}
img{
width: 100%;
height: 200px;
}
.descrip{
    text-align: left;
    margin: 10px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
.fiabilidad{
    width: 500px;
    height: 500px;
    margin: auto;
}

