body{
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol>li{
    border: 1px solid black;
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-bottom: 7px solid rgb(0, 0, 0);
    border-right: 5px solid black;
    list-style: none;
    margin: auto;
    }
    a{
        color: inherit;
        text-decoration: inherit;
    }