/*Reciclado*/
.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
     
}
header{
    background-color: black;
    margin-top: 0;
}
h1{
color: white;
padding-left: 500px;

    
}
.menu  a{
      border-bottom: 5px solid white;
}
.menu{
    width: 100%;
    color: white;
    margin-top: 0px;
    list-style: circle;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    font-family: "Eater", Verdana, Geneva, Tahoma, sans-serif ;

}
.menu li{
    position: relative;
    display: inline-block;
            padding-top:10px ;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 10px;
            width: 300px;
}

.menu li:hover ol{
    display: block;

}
.menu ol{
    width: 100%;
    height: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    height: 200px;
}
.formato2li{
    display: inline-flex;
    flex-direction: column;
    font-size: 22px;
    width: 100%;
    text-align: center;
    background-color: black;
    
    
    
}
.formato2li:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
h1{

    margin: 0 auto;
    text-align: left;

}

#banner{
width: 100%;
padding-left: 0px;
}

.formatocoches{
    display: inline-block;
    width: 30%;
}

main{
    width: 80%;
    margin: auto;
}
div{
    vertical-align: top;
    font-family: 'Times New Roman', Times, serif;
}


.tipo{
    height: auto;
}
img{
width: 100%;
height: 200px;
}
.descrip{
    text-align: left;
    margin: 10px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}

@media (max-width: 1000px){
    div{
        display: block;
    }
    .formatocoches{
        display: block;
        width: 100%; 
    }
}
